<div class="container">
  <div class="pills-container">
    <ul class="nav nav-pills">
      <li>
        <a data-toggle="pill" [routerLink]="['/type1']"> Type 1 </a>
      </li>
      <li>
        <a data-toggle="pill" [routerLink]="['/type2']"> Type 2 </a>
      </li>
      <li>
        <a data-toggle="pill" [routerLink]="['/type3']"> Type 3 </a>
      </li>
      <li>
        <a data-toggle="pill" [routerLink]="['/type4']"> Type 4 </a>
      </li>
    </ul>    
  </div>

  <div class="app-router-outlet">
    <router-outlet></router-outlet>
  </div>
</div>
